<!DOCTYPE html>
<html>

<head>
  <title>Error</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body>
  <header>Error 404: Not Found</header>
</body>

</html>