<!DOCTYPE html>
<html>

<head>
  <title>Error</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body>
  <header>Error 401: Please log in</header>
  <h5><a href="/login">Click here to log in</a></h5>
</body>

</html>