<!DOCTYPE html>
<html lang="en">
<% include ./partials/_head %>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <form action="/urls" method="POST" style="margin:75px;">
    <label for="longURL">Enter a URL:</label>
    <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px;border-color: black;border-bottom: 20px" required>
    <input type="submit" value="Submit">
  </form>
</body>
</html>