<!DOCTYPE html>
<html lang="en">
<head>
  <title>Shortened URL</title>
</head>
<body>
  <header>
      <% include ./partials/_header %>
  </header>
  <ul>
      <li>Short URL: <%= shortURL %></li>
      <li>Long URL: <%= URL.long %></li>

      <form method="POST" action="/urls/<%= shortURL %>">
        <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
        <input type="submit" value="Update URL">
      </form>
  </ul>
</body>
</html>