<!DOCTYPE html>
<html lang="en">
<head>
  <title>URL List</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <ul>
      <!-- Add your EJS code here -->

    <% for (i in urls){ %>

        <form method="POST" action="/urls/<%= i %>/delete">
            <li><%= i %> : <%= urls[i] %>
              <a href="/urls/<%= i %>">Edit</a>
              <button style="width: 50px">Delete</button>
            </li>
        </form>

    <% }; %>
      <li><a href="/urls/new">Shorten your URL</a></li>
  </ul>
</body>
</html>